<!doctype html>
<html lang="en">
<head>
 	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="keywords" content="Mark Mumm cpa certified public accountant marin san rafael california taxes tax services"> 
	<meta name="description" content="We specialize in accounting, reporting, tax compliance, and general business consulting for not-for-profit organizations. We provide assistance in obtaining federal and state tax exemptions."> 
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="/stylesheets/bootstrap.1.4.0.min.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<div class="container">
<ul class="pills">
 <li><a href="/services">Services</a></li>
 <li><a href="/resources">Resources</a></li>
 <li><a href="/nonprofits">Non Profits</a></li>
</ul>
  {{ content }}
<footer>
	<p>&copy; Mark Mumm 2018</p>
	<p><a href="/privacy">Privacy Disclosure and Circular 230 Notice</a></p>
</footer>
</div>
<!-- GAGA -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28503853-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
